@font-face {
    font-family: 'rennerbook';
    src: url('renner-book-webfont.eot');
    src: url('renner-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('renner-book-webfont.woff2') format('woff2'),
         url('renner-book-webfont.woff') format('woff'),
         url('renner-book-webfont.ttf') format('truetype'),
         url('renner-book-webfont.svg#rennerbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	font-family: rennerbook, sans-serif;
	margin: 0;
}

img {
	padding-right: 0.3em;
	vertical-align: middle;
	width: 1.4em;
}

html, body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

body {
	flex-flow: row;
	background: #F7D425;
}

p, h1 {
	color: #F7D425;
	text-align: left;
	font-size: 1.4em;
	padding-left: 1.0715em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

h1 {
	font-size: 2.5em;
	padding-left: .6em;
}

a {
	text-decoration: none;
	color: #F7D425;
}

.big {
	width: 1.3em;
	color: #F7D425;
}

#block {
	flex-flow: column;
	width: 23em;
	display: block;
}

#main {
	background: #2B2B2B;
	background: rgba(43, 43, 43, 0.7);
	flex-flow: column;
	padding: .7em;
}

#twitter {
	background: black;
	background: rgba(43, 43, 43, 0.7);
	flex-flow: column;
	color: #cd5c5;
}

#discord {
	background: #2B2B2B;
	background: rgba(43, 43, 43, 0.7);
	flex-flow: column;
	padding: .7em;
}


.chain {
	width: .7em;
}

.twitter {
	color: #00C3F8;
	font-weight: bold;
	transition: margin-top 85ms, margin-bottom 85ms, background 85ms;
}

.timg {
	padding-left: .5em;
}

.twitter:hover {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	background: #444;
	background: rgba(43, 43, 43, 0.25);
}

.twitter:active {
	background: #777;
	background: rgba(43, 43, 43, 0.5);
}

.discord {
	color: #8C9EFF;
	font-weight: bold;
}

