<head>
    <title>Trefodium</title>
    <link rel="apple-touch-icon" sizes="57x57" href="./icons/tab/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./icons/tab/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./icons/tab/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./icons/tab/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./icons/tab/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./icons/tab/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./icons/tab/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./icons/tab/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./icons/tab/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./icons/tab/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./icons/tab/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./icons/tab/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icons/tab/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./icons/tab/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dreamsicle.css">
  </head>
  
<body>

<div id="block">

<div id="main">
<h1><img src="./icons/misc/doge.png" class="big">trefodium</h1>

<p>i like coding</p>
</div>

<a href="https://twitter.com/trefodium" target="__blank" class="twitter">
<div id="twitter">
<p class="twitter"><img src="./icons/social/twitter.png" class="timg">twitter<img src="./icons/misc/chain.png" class="chain"></p>
</div>
</a>

<div id="discord">
<p class="discord"><img src="./icons/social/discord.png">tref#6771</p>
</div>

</div>

</body>
