@font-face {
	font-family: "Comfortaa";
	src: url(./fonts/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Comfortaa Bold";
	src: url(./fonts/Comfortaa-Bold.ttf) format("truetype");
}

* {
	font-family: Comfortaa, sans-serif;
	margin: 0;
}

img {
	margin-right: 1vw;
	vertical-align: middle;
	width: 1.4em;
}

html, body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
	margin: 0px;
}

html {
	background: linear-gradient(to bottom, #ffa500 0%, #ff355e 83%);
	background-repeat: no-repeat;
}

body {
	flex-flow: row;
}

p, h1 {
	color: #cd5c5c;
	text-align: left;
	font-size: 1.4em;
	padding-left: 1.0715em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

h1 {
	font-size: 2.5em;
	padding-left: .6em;
}

a {
	text-decoration: none;
	color: #cd5c5c;
}

.big {
	width: 1.3em;
}

.chain {
	width: .7em;
}

.twitter {
	color: #00C3F8;
	font-family: Comfortaa Bold;
	font-weight: bold;
	transition: margin-top 85ms, margin-bottom 85ms, background 85ms;
}

.twitter:hover {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	background: #444;
	background: rgba(0, 0, 0, 0.25);
}

.twitter:active {
	background: #777;
	background: rgba(0, 0, 0, 0.5);
}

.discord {
	color: #8C9EFF;
	font-family: Comfortaa Bold;
	font-weight: bold;
}

#block {
	flex-flow: column;
	width: 23em;
	display: block;
}

#main {
	background: black;
	background: rgba(0, 0, 0, 0.7);
	flex-flow: column;
	border-radius: .8em 2.3em 0em 0em;
}

#twitter {
	background: black;
	background: rgba(0, 0, 0, 0.7);
	flex-flow: column;
	color: #cd5c5c;
}

#continue {
	background: black;
	background: rgba(0, 0, 0, 0.7);
	flex-flow: column;
	border-radius: 0em 0em 0.8em 2.3em;
}
